@charset "UTF-8";
/* CSS Document */

.page-wrap {
  width: 90%;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
img {
  height: 50vh;
  position: relative;
}
.story-intro {
  height: 14vh;
  font-size: 1em;
}

@include tablet {
    img {
        height: 60vh;
    }
    .story-intro {
        height: 17vh;
    }
  } // ends tablet breakpoint

@include desktop {
    img {
        height: 72vh;
    }
 }  // ends desktop breakpoint
}

.story-intro {
  font-size: 1.2em;
  height: 9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
h1 {
    font-size: 2.4em;
  }
p {
    font-size: 2em;
    margin: 0;
  }

  @include tablet {
    font-size: 0.9em;
    height: 7rem;

p {
    font-size: 1.5em;
  }
 } // end tablet
}

.sub-stories {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0 25px 0;

  @include tablet {
  flex-direction: row;
  }
}

.sub-story {
  width: 50vw;
  height: 43em;
  margin-right: 25px;
  margin: 0 auto;
  margin-bottom: 3em;
  position: relative;
  font-size: 13px;
  text-align: center;

:last-child{
  margin-right: 0;
}
img{
  display: inline-block;
  width: 41em;
  height: 30em;
}

  @include tablet {
  width: 28vw;
  height: 31em;

img {
  width: 23em;
  height: 18em;
  }
}  // ends tablet
}
