@charset "UTF-8";
/* CSS Document */

.page-wrap {
  width: 90vw;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
img {
  height: 42vh;
  position: relative;
}
.story-intro {
  height: 10vh;
}
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
h1 {
    font-size: 30px;
  }
p {
    margin: 0;
  }
}

.sub-stories {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0 25px 0;
}

.sub-story {
  width: 50vw;
  height: 305px;
  margin-right: 25px;
  margin: 0 auto;
  position: relative;
  font-size: 13px;
  text-align: center;

:last-child{
  margin-right: 0;
}
img{
  display: inline-block;
  width: 250px;
}
}
