@charset "UTF-8";
/* CSS Document */

body {
  padding: 2rem;
  font-family: 'Helvetica Neue', sans-serif;
}
header {
  background: #0075bb;
  color: #fff;
}
.flex-wrapper {
  display: flex;
}
section {
  background: #e7e7e7;
  flex-basis: 75%;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  flex-basis: 25%;
}
header, article, section, .module {
  padding: 1rem;
}
